html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fff,#e6e4a1);
    font-family: 'Open Sans', sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
}