.calender-container {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #c1c9c9;
    display: grid;
    justify-items: center;
}

.calender-container-open {
    width: 100vw;
    height: 150%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #c1c9c9;
    justify-items: center;
    display: grid;
    z-index: 200;
}

.calender-toggler {
    height: 100%;
    width: 200px;
    font-size: 2rem;
    display: grid;
    align-items: center;
    text-align: center;
}

.calender-toggler-date {
    align-self: end;
}

.calender-month-selector {
    width: 100%;
    /* height: 200px; */
    display: grid;
    justify-items: center;
    
    
    
}

.calender-month-selector-months {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    text-align: center;
}
.calender-month-selector-year {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.calender-month-selector-months div {
    cursor: pointer;
}

.calender-month-selector-months div:hover {
    
    animation-name: monthHover;
    animation-duration: 1s;
    background-color: #c1c9c9;
}

@keyframes monthHover {
    0% {
        background-color: #c1c9c9;
        opacity: 0;
    }

    100% {
        background-color: #c1c9c9;
        opacity: 1;
    }
}