.dashboard-container {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    
}

.create-icon {
    height: 50px;
    width: 50px;
    background-color: #e8a209;
    color: #fff;
    position: absolute;
    bottom: 10%;
    right: 10%;
    clip-path: circle(50% at 50% 50%);
    font-size: 40px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 2px 5px 1px #c1c9c9;
}

.create-icon:hover {

    animation-name: spin;
    animation-duration: 8000ms;
    
    
}

@keyframes spin {
    0% {
       transform: rotate(0deg) 
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.dashboard-scrollable-container {
    width: 100%;
    height: calc(100% - 30px);
    overflow: scroll;
    display: grid;
    grid-auto-rows: 120px;
    row-gap: 10px;
    justify-items: center;
    padding: 15px 0 15px 0;

}



.dashboard-scrollable-item{
    min-width: 80%;
    width: 80%;
    height: 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #c1c9c9;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.open {
    grid-template-rows: 1fr 4fr 4fr !important;
    height: 215px;
    z-index: 100;
}

.dashboard-scrollable-item-topbar{
    border-bottom: 1px solid #c1c9c9;
    height: 100%;
    padding: 3px 10px 0 10px;
}

.dashboard-scrollable-item-date{
    display: inline-block;
    
    width: 50%;
    text-align: left;
}

.dashboard-scrollable-item-type{
    display: inline-block;
    float: right;
    right: 0;

}

.dashboard-scrollable-item-bottom {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-content: center;
}

.dashboard-scrollable-item-bottom-icon {
    font-size: 20px;
    justify-self: center;
    width: 50%;
    height: 100%;
    clip-path: circle(50%);
    background-color: yellow;
    color: #fff;
}

.dashboard-scrollable-item-bottom-icon svg {
    display: block;
    margin: auto;

}

.dashboard-scrollable-item-expand {
    position: relative;
    width: 50px;
    display: grid;
    justify-items: center;
    bottom: 2%;
    right: 5%;
    /* transform: translateX() */
}

.dashboard-scrollable-item-expand button {

}

.dashboard-scrollable-item-open{
    display: grid;
    grid-auto-columns: 50px 50px;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    margin-right: 10px;
}

.dashboard-scrollable-item-open-edit {
    width: 50px;
    background-color: blue;
    color: #fff;
    border-radius: 10px;
}

.dashboard-scrollable-item-open svg {
    display: block;
    margin: auto;
}

.dashboard-scrollable-item-open-delete {
    width: 50px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    
}


