@media (max-width: 768px) {
    .create-container{
        display: flex !important;
        flex-direction: column !important;
        width: 100vw !important;
    }

    .create-submit-icon-container {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row;
    }

    .create-submit-form {
        display: flex !important;
        flex-direction: column;

    }
    .create-submit-form-form {
        max-width: 100vw;
        height: 150px !important;
    }
    .create-submit-form-form-icon {
        font-size: 30px !important;
    }
    .create-submit-form-form-icon p {
        font-size: 30px !important;
    }

    .create-submit-form-form input {
        width: 100px !important;
    }
}


.create-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 20% 70%;
}

.create-toggle-container {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(0,0,0,0.6);
    font-size: 35px;
}

.create-toggle-container div {
    width: 150px;
    cursor: pointer;
}

.create-toggle-container-expense {
    justify-self: end;
   padding-right: 15px;
   align-self: center;
}

.create-toggle-container-income {
    border-left: 2px solid black;
    padding-left: 15px;
    justify-self: start;
    align-self: center;
}

.create-toggle-container p {
    text-align: center;
}

.toggle-active {
    text-decoration: underline;
    font-size: 40px;
    color: rgba(0,0,0,0.8)
}

.create-submit-container {
    width: 100%;
}



.create-submit-icon-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 8px;
    padding: 30px 50px 30px 50px;
    width: calc(100% - 100px);
    height: 20%;
}

.create-submit-icon {
    width: 80px;
    height: 65px;
    font-size: 35px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    display: grid;
    align-items: center;
    text-align: center;
}

.create-submit-icon svg {
    display: block;
    margin: auto;
}

svg {
    display: block;
    margin: auto;
}

.create-submit-icon p {
    font-size: 15px;
    text-align: center;
}

.create-submit-icon:hover {
    font-size: 40px;
    color: #e8a209;
}

.create-submit-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}

.create-submit-form-calendar {
    max-height: 500px;
}

.create-submit-form-form {
    width: 500px;
    height: 500px;
}

.create-submit-form-form-icon {
    font-size: 100px;
}

.create-submit-form-form-icon p {
    font-size: 50px;
    text-align: center;
}
.create-submit-form-form form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.create-submit-form-form-amount {
    grid-row-start: 1;
    grid-column-start: 2;
    
}

.create-submit-form-form-description {
    grid-row-start: 2;
    grid-column: 1 / span 2;
    
}