.charts-container {
    display: grid;
    grid-template-rows: 1fr 7fr;
    width: 90%;
    height: 90%;
    margin: auto;
    box-shadow: 0px 0px 5px 1px #c1c9c9;
    border-radius: 10px;
    background-color: #fff;
}

.charts-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    align-content: center;
    text-decoration: underline;
}

.charts-categories-item p {
    cursor: pointer;
}

@media (max-width: 768px){
    .charts-display-container{
        display: flex !important;
        flex-direction: column;
    }

    .charts-display-header{
        font-size: 1.3em !important;
    }

    .charts-display-information{
        
        display: flex !important;
        justify-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .charts-display-information-item {
        height: 40px;
        width: 150px !important;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
}

.charts-display-container{
    height: 85%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
}

.charts-display-header{
    grid-column: 1 / span 2;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.charts-display-information{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: end;
}

.charts-display-information-item {
    height: 40px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.charts-display-information-item-color {
    width: 40px;
    height: 100%;
}